.body {
  padding-top: 220px;
  background: url(../images/cb.jpg) no-repeat top center;
  background-size: 100%;
}
textarea {
  resize: none;
}
label.file {
  position: relative;
  width: 100%;
}
input[type="file"] {
  visibility: hidden;
}
.filebtn {
  position: absolute;
  width: 100%;
  top: 24px;
  font-weight: normal;
  color: #aaa;
}
.title {
  margin: 5px 0;
  font-weight: 500;
  font-size: 16px;
}
.vote {
  color: red;
}
.votebtn {
  color: white;
}
.votebtn:link {
  color: white;
  text-decoration: none;
}
.votebtn:visited {
  color: white;
  text-decoration: none;
}
.votebtn:hover {
  color: white;
  text-decoration: none;
}
.votebtn:active {
  color: white;
  text-decoration: none;
}
.posr {
  position: relative;
}
.posa {
  position: absolute;
}
.votepos {
  right: 5px;
  bottom: 5px;
}
.statelist {
  margin-top: 30px;
}
.statelist li {
  margin: 10px 0;
  border-bottom: 1px solid #ccc;
}
.statelist li p {
  margin-top: 10px;
}
.black {
  color: #000;
}
td,th {
  white-space: nowrap;
}
th .order:link {
  text-decoration: none;
  color: #000;
}
th .order:visited {
  text-decoration: none;
  color: #000;
}
th .order:hover {
  text-decoration: none;
  color: #000;
}
th .order:active {
  text-decoration: none;
  color: #000;
}
.back {
  left: 0;
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100px;
}
.inline-block {
  display: inline-block;
}
.inline-block:link {
  color: #000;
}
.inline-block:visited {
  color: #000;
  text-decoration: none;
}
.inline-block:hover {
  color: #000;
  text-decoration: none;
}
.inline-block:active {
  color: #000;
  text-decoration: none;
}
