<ul class="list-unstyled statelist" id="statelist">
  <li class="li">
      <div class="title text-center">
          state.areaName - state.city - state.stateName
      </div>
      <div class="img">
          <img src="state.stateImg" class="stateimg img-responsive">
      </div>
      <div class="votes clearfix">
          <div class="pull-left">
              <img class="heart" src="../v/images/heart.png">&nbsp;&nbsp;<span class="votequality"><span class="vote">state.stateVotes</span>&nbsp;票</span>
          </div>
          <div class="pull-right">
              <a href="javascript:;" class="btn btn-default lp"><img class="btnicon" src="../v/images/lp.png" />&nbsp;拉票</a>&nbsp;&nbsp;
              <button id="state.id" rel="state.stateName|||state.id" class="btn btn-default votebtn"><img class="btnicon" src="../v/images/vote.png" />&nbsp;投票</button>
          </div>
      </div>
  </li>
</ul>
